.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-admin-toolbar-content-menu-linkscategories::before {
  -webkit-mask-image: url(../icons/taxonomy.svg);
  mask-image: url(../icons/taxonomy.svg);
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-admin-toolbar-content-menu-linksmedia::before {
  -webkit-mask-image: url(../icons/media.svg);
  mask-image: url(../icons/media.svg);
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-admin-toolbar-content-menu-linkswebform::before {
  -webkit-mask-image: url(../icons/webform.svg) !important;
  mask-image: url(../icons/webform.svg) !important;
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-admin-toolbar-content-menu-linksmenus::before {
  -webkit-mask-image: url(../icons/menus.svg) !important;
  mask-image: url(../icons/menus.svg) !important;
}

.admin-toolbar-content--recent-items {
  padding-top: 2.5em !important;
  cursor: auto !important;
  font-size: 1em !important;
  font-weight: 600 !important;
}

.admin-toolbar-content--more-recent-items {
  margin-top: 1.5em !important;
}

/* Gin Toolbar */
#gin-toolbar-bar .toolbar-icon-admin-toolbar-content-menu-linkscategories::before {
  -webkit-mask-image: url("../icons/gin/tags.svg") !important;
  mask-image: url("../icons/gin/tags.svg") !important;
}

#gin-toolbar-bar .toolbar-icon-admin-toolbar-content-menu-linksmedia::before {
  -webkit-mask-image: url("../icons/gin/images.svg") !important;
  mask-image: url("../icons/gin/images.svg") !important;
}

#gin-toolbar-bar .toolbar-icon-admin-toolbar-content-menu-linkswebform::before {
  -webkit-mask-image: url("../icons/gin/inboxes.svg") !important;
  mask-image: url("../icons/gin/inboxes.svg") !important;
}

#gin-toolbar-bar .toolbar-icon-admin-toolbar-content-menu-linksmenus::before {
  -webkit-mask-image: url("../icons/gin/list.svg") !important;
  mask-image: url("../icons/gin/list.svg") !important;
}

.gin--vertical-toolbar .admin-toolbar-content--recent-items {
  padding-top: 2.5em !important;
  font-size: var(--gin-font-size-l, 1.25em) !important;
}

.gin--vertical-toolbar .admin-toolbar-content--more-recent-items {
  margin-top: 1.5em !important;
}

.gin--horizontal-toolbar .admin-toolbar-content--recent-items {
  padding-bottom: .5em !important;
}

.gin--horizontal-toolbar .admin-toolbar-content--recent-items,
.gin--classic-toolbar .admin-toolbar-content--recent-items {
  padding-left: 1.3333em !important;
  font-size: var(--gin-font-size-s, .75em) !important;
}

.gin--horizontal-toolbar .admin-toolbar-content--recent-items,
.gin--horizontal-toolbar .admin-toolbar-content--more-recent-items {
  padding-top: 1.75em !important;
}

.gin--classic-toolbar .admin-toolbar-content--recent-items,
.gin--classic-toolbar .admin-toolbar-content--more-recent-items {
  margin-top: .75em !important;
}

.gin--vertical-toolbar .admin-toolbar-content--recent-items,
.gin--horizontal-toolbar .admin-toolbar-content--recent-items,
.gin--classic-toolbar .admin-toolbar-content--recent-items {
  /* stylelint-disable-next-line custom-property-pattern */
  color: var(--gin-color-text, var(--colorGinText)) !important;
  background: transparent !important;
  font-weight: var(--gin-font-weight-semibold, 600) !important;
}
